apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow-server
  namespace: ml
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: mlflow-server
  template:
    metadata:
      labels:
        name: mlflow-server
    spec:
      serviceAccountName: mlflow
      containers:
        - name: oauth-proxy
          image: registry.redhat.io/openshift4/ose-oauth-proxy:v4.12.0
          args:
            - --provider=openshift
            - --openshift-service-account=mlflow
            - --upstream=http://localhost:5000
            - --http-address=:8443
            - --cookie-secret=SECRET
            - '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"mlflow"}}'
            - '--openshift-sar={"verb":"get","resource":"routes","resourceAPIGroup":"route.openshift.io","namespace":"ml"}'
          ports:
            - containerPort: 8443
              name: https
          livenessProbe:
            httpGet:
              path: /oauth/healthz
              port: 8443
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 1
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /oauth/healthz
              port: 8443
              scheme: HTTP
            initialDelaySeconds: 5
            timeoutSeconds: 1
            periodSeconds: 5
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 256Mi

        - name: mlflow
          image: docker.io/hemaveeradhi/mlflow:amd64
          imagePullPolicy: IfNotPresent
          command:
            - mlflow
          args:
            - server
            - --host
            - 0.0.0.0
            - --backend-store-uri
            - postgresql://admin:<pwd>@postgresql.ml.svc:5432/<db-name>?sslmode=disable
          ports:
            - containerPort: 5000
              protocol: TCP
          resources:
            requests:
              cpu: "500m"
              memory: 1Gi
            limits:
              cpu: "500m"
              memory: 1Gi

